/* color variables */
:root {
  --lightpurple: #7E7CF9;
  --darkpurple: #1A1878;
  --graypurple: #3F3E79;
  --blue: #3531F7;
  --darkblue: #2A27C4;
}

html, body {
  min-height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.container {
  height: 680px;
  /* overflow-y: hidden; */
}

.background_img {
  float: left;
  width: 33.09%;
  height: 100%;
  border-bottom: solid 5px var(--darkpurple);
}

#header {
  border-left: solid 5px var(--darkpurple);
  border-right: solid 5px var(--darkpurple);

  font-family: 'Cedarville Cursive', cursive;
  line-height: 680px;
  font-size: 46px;
  text-align: center;
  text-decoration: underline var(--lightpurple);
}