html, body {
  min-height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.container {
  height: 700px;
}

.background_img {
  float: left;
  width: 33.33333%;
  height: 100%;
}

/* header positioning and logo sizing */
.header {
  z-index: 1;
  position: absolute;
  top: -80px;
  left: 150px;
}

#logo {
  width: 980px;
}