/* color variables */
:root {
  --lightpurple: #7E7CF9;
  --darkpurple: #1A1878;
  --graypurple: #3F3E79;
  --blue: #3531F7;
  --darkblue: #2A27C4;
}

/* page sizing for html and body */
html, body {
  min-height: 100%;
  min-width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  min-width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

/* header style including sizing for text logo */
.header {
  height: 100px;
  border-bottom: solid 12px var(--lightpurple);
}

.header_text {
  font-family: 'Cedarville Cursive', cursive;
  text-align: right;
  font-size: 56px;
  margin: 0px 15px 0px 0px;
  color: var(--darkpurple);
  float: right;
}

/* style for the navbar */
ul {
  list-style-type: none;
  margin: -10px 0px 0px -10px;
  padding: 0;
  overflow: auto;
  background-color: var(--graypurple);
  position: fixed;
  width: 166px;
  height: 110px;
  float: left;
  overflow-y: hidden;
  border-right: solid 4px var(--blue);
}


li a {
  display: block;
  color: white;
  text-align: left;
  padding: 7px;
  border-bottom: solid 2px var(--blue);
  background-color: var(--graypurple);
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  height: 20px;
}

#last_item {
  border-bottom: none;
  height: 33px;
}

li a:hover {
  background-color: var(--darkblue);
  transition-duration: 0.7s;
  transition-timing-function: ease-in;
}

.active {
  background-color: black;
}

/* style for wrapper <div> */
.wrapper {
  display: flex;
}

/* style for footer <div> */
.footer {
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: solid 12px var(--lightpurple);
  text-align: center;
  background-color: var(--graypurple);
  margin-left: -10px;
}

.footer a {
  text-decoration: none;
}

.icons {
  font-size: 26px;
  color: white;
}